POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nahi_clinic
DATABASE_URL=postgresql://postgres:postgres@db:5432/nahi_clinic?schema=public

NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=production
TZ=Asia/Bangkok